<!DOCTYPE html>
<html>
<head>
    <link href="~/estilos.css" rel="stylesheet" />
    <title>
        Razas de Perros
    </title>
</head>
<body>
    <header>
        <h1><a href="~/">Razas de Perros</a></h1>
    </header>
    <main class="main">
        @RenderBody()
    </main>
    <footer>
        Razas de Perros - Ejercicio de Programación Web
    </footer>
</body>
</html>